html,
body {
    margin: 0;
    padding: 20px;
}

.container {
    overflow: hidden;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #999;
    background-color: #eee;
}

.left {
    float: left;
    width: 158px;
    padding: 20px;
    border: 1px solid black;
    background-color: #fff;
}

.left .logo {
    float: left;
    width: 78px;
    height: 78px;
    text-align: center;
    border: 1px solid #999;
    background-color: #eee;
}

.left .name {
    float: right;
}

.center {
    min-width:  50px;
    margin-right: 140px;
    margin-left: 220px;
    padding: 20px;
    border: 1px solid #999;
    background-color: #fff;
}

.right {
    float: right;
    padding: 20px;
    border: 1px solid #999;
    background-color: #fff;
}

.right .logo {
    line-height: 78px;
    width: 78px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #999;
    background-color: #eee;
}
