@function size($size) {
  $width: 1000;
  $scale: 10;
  @return ($size / $width * $scale) * 1rem;
}

$main-color: #91D4DA;
$border-color: #ECECEC;
$border: size(5) solid $border-color;

%init-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

%center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

%row {
  &::after {
    content: " ";
    display: table;
    clear: both;
  }
}

%space-wrap {
  padding-left: .3rem;
  padding-right: .3rem;
}

@mixin data-dpr($field, $val) {
  [data-dpr="1"] & {
    #{$field}: $val;
  }
  [data-dpr="2"] & {
    #{$field}: $val * 2;
  }
  [data-dpr="3"] & {
    #{$field}: $val * 3;
  }
}

@mixin font-size($size) {
  @include data-dpr('font-size', $size);
}
*{
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

body > header{
  width: 100%;
  height: size(115);
  background-color: $main-color;
  color: #fff;

  position: relative;
  @at-root .goback{
    display: block;

    line-height: size(115);
    @include font-size(19px);
    color: #fff;
    text-decoration: none;
    position: absolute;
    img{
      @include data-dpr('height',19px);
      vertical-align: sub;
    }
  }
  h1{
    margin: 0;
    text-align: center;
    line-height: size(115);
  }
}

.body{
  max-width: size(1000);
  box-sizing: border-box;
  margin: 0 auto;
  @at-root  nav ul {
    display: flex;
    height:size(115);
    @extend %init-list;
    @extend %space-wrap;
    align-items: stretch;
    line-height: size(115);
    li {
      flex:1;
      @include font-size(16px);
      text-align: center;
      &.active,
      &:hover {
        border-bottom: size(8) solid #8ed8d7;
      }
    }
  }
  @at-root .banner{
    max-width: size(1000);
    width:100%;
  }

  @at-root .labels{
    height: size(294);

    border-bottom: size(4) solid $border-color;
    ul{
      @extend %space-wrap;
      display: flex;
      height: size(294);
      @extend %init-list;
      text-align: center;
      li{
        flex:1;
        padding-top: size(44);
        figure {
          width: size(120);
          height: size(120);
          margin: 0 auto;
          background: #00C7D6;
          border-radius: 100%;
          position: relative;
          margin-bottom: size(40);
          img {
            @extend %center;
            width: size(61);
            height: size(80);
          }

        }
        p{
          @include font-size(20px);
          font-family: 'Helvetica';
          font-weight: 600;
        }
      }
    }
  }
  @at-root .columns {
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    padding-top: size(40);
    padding-bottom: size(40);

    ul {
      @extend %init-list;
      display: flex;
      text-align: center;
      li {
        flex: 1;
        &:not(:last-child) {
          border-right: $border;
        }
        figure {
          height: size(200);
          line-height: size(200);
          text-align: center;
          position: relative;
          img {
            width: size(170);
            //@extend %center;
          }
        }
        h2 {
          @include font-size(18px);
        }
        h3 {
          @include font-size(14px);
          color: #5B5B5B;
        }
      }
    }
  }

  @at-root article.module{
    @extend %space-wrap;
    border-top: size(36) solid #f5f5f5;
    header{
      @include font-size(22px);
      height: size(120);
      line-height: size(120);
      border-bottom: size(4) solid #f7f7f7;
    }
    section {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      padding-top: size(30);
      padding-bottom: size(30);
      img {
        width: size(243);
        height: size(227);
        border: size(2) solid #FEB832;
      }
      ul {
        @extend %init-list;
        width: size(655);
        height: size(227);

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
      }
      li {
        width: size(320);
        height: size(100);
        line-height: size(100);
        text-align: center;
        background-color: #F8F8F8;
      }
    }

  }
  @at-root .articles {
    background-color: #fff;
    margin-top: size(35);
    article {
      @extend %space-wrap;
      border-bottom: $border;
      padding-top: size(25);
      padding-bottom: size(25);
      display: flex;
      > img {
        width: size(280);
        height: size(200);
        margin-right: size(30);
      }
      section {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      header {
        @include font-size(16px);
        flex: 1;
      }
      aside {
        @include font-size(13px);
        color: #C6C6C6;
      }
      ul.imgs {
        @extend %init-list;
        display: flex;
        margin-top: size(20);
        li {
          flex: 1;
          margin: size(4);
          img {
            width: 100%;
          }
        }
      }
    }

  }

}




























